.taskbar {
  width: 100vw;
  height: 5rem;
  background-color: rgb(20, 20, 20);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  @include respond(tab-port) {
    bottom: none;
    top: 0;
  }
  &__icons {
    display: flex;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__info {
    color: white;
    display: grid;
    height: 5rem;
    grid-template-columns: 2fr 1fr;
    row-gap: 0.3rem;
    font-size: 1.35rem;
    font-family: 'Assistant', sans-serif;
    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
      width: 100vw;
    }
    p {
      user-select: none;
    }
    &-box1 {
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.45;
      cursor: unset;
      @include respond(tab-port) {
        align-items: flex-start;
        padding: 0 1.5rem;
      }
      &:hover {
        background-color: rgba(200, 200, 200, 0.1);
        @include respond(tab-port) {
          background-color: transparent;
        }
      }
    }
    &-box2 {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;
      &:hover {
        background-color: rgba(200, 200, 200, 0.1);
        @include respond(tab-port) {
          background-color: transparent;
        }
      }
    }
  }
}
