.resume {
  top: 0;
  width: 100vw;
  height: 95vh;
  background-color: red;
  display: none;
  @include respond(tab-port) {
    height: 100vh;
  }
  &__nav {
    width: 30rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    &-img {
      background-image: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 0.2rem solid black;
      border-radius: 100rem;
      height: 10rem;
      width: 10rem;
      margin-bottom: 1.5rem;
    }
    &-list {
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      &-items {
        padding: 1rem 0rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
